<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <%- include('../includes/end.ejs') %>
        <h1>Your Cart</h1>
        <div id="cart">
            <ul>
                <li>
                    <span>Product</span>
                    <span>Quantity</span>
                    <span>Price</span>
                </li>
            </ul>
        </div>
